html {
    background-image:url("../img/asphalt_background.jpg");
    color: white;
    text-align: center;
}

body {
    font-family: 'Aldrich', sans-serif;
}

.playerName {
  text-align: left;
  font-size: 2.0em;
  font-style: oblique;
}

.playerImage {
    position: absolute;
    left: 0px;
}

.winnersDisplay {
    font-family: 'Black Ops One', cursive;
    font-size: 3.0em;
}